.hidden {
  display: none;
}

#qrcode {
  margin-top: 1em;
}

#qrcode .alert {
  text-align: left;
}

#qrcode {
  text-align: center;
}

#qr-form textarea {
  font-family: Monaco, Monospace;
}

#qr-form .alert {
  margin-top: 1em;
}
